extends ../shared/template

block content
  h1= title
  #map

  button#search(style='display:none;') Search by Location

  script.
    var places = [];

  ul
    each listing in listings
      li
        span= listing.name
        span= listing.amount
        script.
          var place = {};
          place.address = '#{listing.address}';
          place.lat = #{listing.coordinates[0]};
          place.lng = #{listing.coordinates[1]};
          places.push(place);

block scripts
  script(src='/js/source/listings.js')

