extends ../shared/template

block content
  h1= title
  #map
  .row
      .small-3.columns
        ul.button-group.round
          li: button#prev.tiny.radius Previous
          li: button#next.tiny.radius &nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;
      .small-6.columns
        .row.collapse
              .small-3.columns
                label Per Page
                input#limit(type='text' value= globalLimit)
              .small-3.columns
                label &nbsp;
                button#limitButton.button.postfix.tiny.radius Show
      .small-3.columns

  button#search.tiny.radius.alert(style='display:none;') Find closest to me!

  script.
    var places = [];

  ul#list
    each listing in listings
      li.listingDiv
        a(href='/listings/' + listing._id): span= listing.name
        .indexPhoto.borderStyle(style='background-image: url('+listing.cover+')')
        span Day: $#{listing.amount}
        script.
          var place = {};
          place.address = '#{listing.address}';
          place.lat = #{listing.coordinates[0]};
          place.lng = #{listing.coordinates[1]};
          place._id = '#{listing._id}';
          places.push(place);

block scripts
  script(src='/js/source/listings.js')

