extends ../shared/template

block content
  h1 Listings
  #map

  button#search(style='display: none') Search By Location
    
  script.
    var places = []
    
  ul
    each listing in listings
      li
        span= listing.name
        span= listing.amount
        script.
          console.log(#{listing})
          var place = {};
          place.address = '#{listing.name}';
          place.lat = #{listing.coordinates[0]};
          place.long = #{listing.coordinates[1]};
          places.push(place);
block scripts
  script(src='/js/source/listings.js')
