extends ../shared/template

block content
  h1= title
  #map

  button#search(style='display:none;') Search by Location

  script.
    var places = [];

  ul
    each listing in listings
      li
        a(href='/listings/' + listing._id): span= listing.name
        span  -  Cost/Day: #{listing.amount}$
        script.
          var place = {};
          place.address = '#{listing.address}';
          place.lat = #{listing.coordinates[0]};
          place.lng = #{listing.coordinates[1]};
          place._id = '#{listing._id}';
          places.push(place);

block scripts
  script(src='/js/source/listings.js')

