extends ../shared/template

block content
  input(type='hidden', value= user._id.toString())
  .row
    .small-12.columns
      div.panel
        img(src= gravatar).user-img
        h1= user.name
        h4= user.email
  .row
    .small-12.columns
      each listing in listings
        li
          a(href='listings/'+listing._id): span= listing.name
          span - Address: #{listing.address}
          span - Day Rate: #{listing.amount}
          each reservation in listings.reservations
            span= reservation.reservedDate

