extends ../shared/template

block content
  input#ownerId(type='hidden', value= owner._id)
  .row
    .small-11.columns.panel
      div
        .row
          .small-3.columns
            img.borderStyle(src= gravatar).user-img
          .small-9.columns
            h3= owner.name
            h5: a(href='mailto:owner.email')= owner.email

  .row
    .small-11.columns
      each listing in listings
        input.listingId(type='hidden', value= listing._id)
        h5 Listing Name:  
          span= listing.name
        h5 Listing Amount: $ 
          span= listing.amount  
        h5 Listing Address:  
          span= listing.address
        h5 Listing Description:  
          span= listing.description
        if listings.reservations
          h1 Reservations
          each reservation in listing.reservations
            .panel
              h3 Artist Name:  
                span= reservation.artistName
              h3 Date: 
                span= moment(reservation.reservedDate).format('MMMM Do, YYYY')


