extends ../shared/template

block content
  input#ownerId(type='hidden', value= owner._id)
  .row
    .small-12.columns
      div.panel
        img(src= gravatar).user-img
        h1= owner.name
        h4= owner.email
  .row
    .small-12.columns
      each listing in listings
        input.listingId(type='hidden', value= listing._id)
        h5 Listing Name:  
          span= listing.name
        h5 Listing Amount: $ 
          span= listing.amount  
        h5 Listing Address:  
          span= listing.address
        h5 Listing Description:  
          span= listing.description

        h1 Reservations
        each reservation in listing.reservations
          .panel
            h3 Artist Name:  
              span= reservation.artistName
            h3 Date: 
              span= moment(reservation.reservedDate).format('MMMM Do, YYYY')


