extends ../shared/template

block content
  input#ownerId(type='hidden', value= owner._id)
  .row
    .small-11.columns.panel
      div
        .row
          .small-3.columns
            img.borderStyle(src= gravatar).user-img
          .small-9.columns
            h3= owner.name
            h5: a(href='mailto:owner.email')= owner.email
            a.button.tiny.radius(href='/listings/new') New Listing
      if listings
        h2(style='text-align:center') Current Listings
      #infoWrapOwner
        each listing in listings
          .row.panel.space
            .small-3.columns
              div('background-img:url("#{listing.cover}")').item-img-large
            .small-9.columns
              a(href='/listings/' + listing._id): h3.linkToListing= listing.name
              h4 Address: #{listing.address}
              h4 Day Rate: $#{listing.amount}
              p= listing.description
              if listings.reservations
                h1 Reservations
                each reservation in listing.reservations
                  .panel
                    h3 Artist Name:  
                      span= reservation.artistName
                    h3 Date: 
                      span= moment(reservation.reservedDate).format('MMMM Do, YYYY')


